//! **************************************************************************
// Written by: Map P.28xd on Fri May 20 14:06:06 2022
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "M18" LEVEL 1;
COMP "sf_e" LOCATE = SITE "D16" LEVEL 1;
COMP "rs" LOCATE = SITE "L18" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "b" LOCATE = SITE "R16" LEVEL 1;
COMP "c" LOCATE = SITE "P17" LEVEL 1;
COMP "d" LOCATE = SITE "M15" LEVEL 1;
COMP "rw" LOCATE = SITE "L17" LEVEL 1;
COMP "rst" LOCATE = SITE "H13" LEVEL 1;
COMP "a" LOCATE = SITE "R15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

